
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>İletişim Adreslerimiz</h2>
<br />
<br />
lovacontact@lova.com
<br />
0598 321 52 02
<br />
0212 482 04 41
