
@{
    ViewBag.Title = "SuccesfulCreateAccount";
    Layout = "~/Views/Shared/_SignLayout.cshtml";
}
<br />
<br />
<h1>Kayıt Başarılı</h1>
<br />
<h2> Üyeliğiniz en yakın zamanda onaylanacaktır. Hesabınız aktif hale geldiğinde kayıt olduğunuz mail adresinize bir bilgilendirme maili gönderilecektir. Şimdiden aramıza hoşgeldiniz.</h2>

